[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "public"]
	path = public
	url = https://github.com/jlien86/jlien86.github.io.git
	branch = master
